* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

body {
  width: 100vw;
  height: 100vh;
  background: linear-gradient(135deg, #36393f 0%, #2c2f33 100%);
  color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

#quiz {
  border-radius: 8px;
  background-color: #36393f;
  width: 600px;
  height: 350px;
  display: flex;
  flex-direction: column;
  margin-top: 14px;
}

#conteiner {
  height: 80%;
  width: 100%;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
  display: flex;
  align-items: center;
  justify-content: center;
}

#campos {
  width: 100%;
  height: 20%;
  border-bottom-left-radius: 8px;
  border-bottom-right-radius: 8px;
  background-color: #2c2f33;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

button {
  background-color: #304591;
  border: none;
  padding: 5px 15px;
  color: white;
  font-weight: bold;
  border-radius: 4px;
}

button:hover {
  opacity: 0.7;
  cursor: pointer;
}

input {
  background-color: white;
  border: none;
  height: 27px;
  width: 230px;
  border-radius: 4px;
  margin-right: 18px;
  padding: 5px 8px;
}