* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

body {
  background-color: #383838;
  color: white;
  width: 100vw;
  height: 100vh;
}

header {
  width: 100vw;
  height: 70px;
  display: flex;
  align-items: center;
  justify-content: space-around;
  gap: 10px;
  position: relative;
}

header input{
  width: 300px;
  height: 40px;
  border: none;
  border-radius: 4px;
  color: black;
  background-color: white;
  opacity: 100%;
  padding-left: 10px;
  font-size: 12px;
  text-decoration: none;
}

main {
  width: 100vw;
  height: calc(100vh - 70px);
  padding-top: 50px;
  text-align: center;
}

main section {
  margin-top: 20px;
  width: 100vw;
  display: grid;
}

#options {
  position: absolute;
  top: 70px;
  left: 981px;
  width: 300px;
  max-height: 400px;
  overflow-y: auto;
  background-color: rgba(128, 128, 128, 0.208);
  border-radius: 6px;
  padding: 5px 5px;
  z-index: 600;
}

main h1 {
  margin-left: -100px;
}

#options p {
  font-size: 0.8em;
  border-radius: 4px;
  margin: 5px;
  padding: 5px;
  background-color: rgba(255, 255, 255, 0.034);
  color: rgb(255, 255, 255);
  font-weight: 600;
  cursor: pointer;
}

#options p:hover {
  opacity: 0.7;
  box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.207);
}

#bookElement {
  color: black;
  background-color: rgba(255, 255, 255, 0.6);
}