* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #383838;
  color: white;
  font-family: Arial, Helvetica, sans-serif;
  width: 100vw;
  height: 100vh;
}

header {
  width: 100vw;
  height: 70px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  position: relative;

}

header input{
  width: 300px;
  height: 40px;
  border: none;
  border-radius: 4px;
  color: black;
  background-color: white;
  opacity: 100%;
  padding-left: 10px;
  font-size: 12px;
}

header img {
  position: absolute;
  left: 60px;
}

main {
  width: 100vw;
  height: calc(100vh - 70px);
  padding-top: 50px;
  text-align: center;
}

main section {

  margin-top: 20px;
  width: 100vw;
  display: grid;
}